# dependencies
node_modules/

# env files
.env
.env.*

# build outputs
dist/
build/
.vite/

# logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# uploads (IMPORTANT)
uploads/

# prisma
prisma/dev.db

# IDE
.vscode/
.idea/